@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply font-mulish text-darkblue
}
nav > section {
    @apply mx-auto px-[15%]
}
#icons > *{
    @apply ml-3
}
footer #icons>a{
    @apply rounded-full bg-[#2C3765] p-3
}
#top-nav{
    @apply bg-whiiteish flex flex-row text-xs font-medium text-darkblue py-4 justify-between
}
#middle-nav{
    @apply text-3xl font-bold pt-6 flex flex-row pb-12 justify-between
}
#info-nav h3{
    @apply text-lg text-darkblue font-semibold
}
#info-nav p{
    @apply text-sm text-greyish font-normal
}
#float-nav{
    @apply bg-orangeyellow flex flex-row py-5 mx-auto w-[68%] font-semibold px-3 justify-between

}
#float-nav>div>a{
    @apply mr-5
}
#float-nav>a:nth-of-type(7){
    align-self: flex-end;
}
#footer-repeat{
    @apply text-3xl font-bold py-6 flex flex-row justify-between border-b-[1px] border-greyish text-darkblue
}
#footer-repeat p{
    @apply text-sm text-whiiteish font-normal
}
footer{
    width: 100%;
}
#footer-repeat h3{
    @apply text-lg text-whiiteish font-semibold
}
footer section{
    @apply mx-auto w-[85%]
}
#segments{
    text-align: justify;
    display: grid;
    gap: 30px;
    grid-template-columns: 2fr 2fr 1fr;
    margin-top: 20px;
    @apply pb-5 border-b-[1px] border-b-greyish
}
#links{
    color: #f4f4f4;
}
ul>a{
    @apply text-xs font-normal
}
#aboutushero{
    background-image: url('./assets/photo-1551711974-faf378be34b2.avif');
    background-size: cover;
    background-position: center;
}
#projoushero{
    background-image: url('./assets/photo-1593313637552-29c2c0dacd35.avif');
    background-size: cover;
    background-position: bottom;
}
#pricinghero{
    background-image: url('./assets/sparkles.avif');
    background-size: cover;
    background-position: center;
}
#contacthero{
    background-image: url('./assets/photo-1551711974-faf378be34b2.avif');
    background-size: cover;
    background-position: center;
}
#contactUsForm input[type="text"],input[type="email"],input[type="tel"],input[type="url"]{
    background-color: white;
    border-width: 1px;
    border-color: #F4F4F4;
    padding-left: 15px;
    color: #7E7E7E;
    font-size: small;
}:focus{
    outline: none;
}
#SubmitBt{
    @apply  bg-orangeyellow text-darkblue py-2 text-sm font-semibold mx-[42.5%] w-[15%]
}